#header-img{
  width: 40em;
  height: 20em;
}
#heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  padding: .5em;
  margin: 2em;
  width: 30%;
}
#characters{
display: flex;
flex-direction: column;
width: 30em;
align-items: center;
}
#name{
  margin-left: 50%;
  font-size: 2em;
}
#image{
  margin-left: 80%;
}
#episode{
  text-align: center;
  font-size: 2em;
}
